{% extends 'base.html' %}
{% load static %}
{% block filling %}
<style>
    .container-wrap2{
        width: 100%;
        min-height: 90vh;
        background: #eee;
        padding: 10px 10px;
    }
    .tetris a{
        text-decoration: none;
    }

    .container-2{
        display: block;
        height: 100%;
    }
    .Into_info{
        height: 100px;

    }
    .info{
        width: 100%;
        background: aquamarine;
        margin-bottom: 10px;
        height: 100%;
    }
    .info{
        background: transparent;
    }
    .info-in{
        padding: 20px 40px;
        background: #fff;
        box-shadow: 0px 2px 3px 0px #ddd;
        height: 100%;
    }
    .info_list{
        padding-left: 30px;
    }
    .info p{
        margin: 10px 0px;
        word-spacing: 2px;
        letter-spacing: 1px;
    }
    .info_list li{
        margin: 5px 0px;

    }
    .info_text_header{
        margin-bottom: 20px;
    }
    .tetra{
        width: 350px;
        min-height:200px;
        justify-content: space-between;
        border: solid 1px #dee;
        border-radius: 5px;
        margin: 5px 5px;
        position: relative;
        overflow: hidden;
        align-content: center;
        background-repeat: no-repeat;
    }
    .tetra img{
        margin-top:-80px;
        margin-bottom:90px;
    }

    .tetris{
        width:100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-center;
    }
    .head_tetra{
        padding: 10px 5px 5px 30px;
        font-size: 20px;
        font-weight: 500;
        position: relative;
        color:#000;
    }
    .head_tetra:before{
        content:' ';
        height:100%;
        background: #000;
        width: 3px;
        position: absolute;
        left:15px;
        background: blue;
    }
    .body_tetra{
        padding: 10px 5px 40px 30px;
        font-size: 13px;
        font-weight: 500;
        color:dimgray;
        width: inherit;
        height: 50%;
        overflow-y: scroll;
    }
    @keyframes arrow{
        20%{
            margin-left: 6px;
        }
        40%{
            margin-left: 0px;
        }
        60%{
            margin-left: 3px;
        }
    }
    .tetra .zozivaka{
        position:absolute;
        bottom: 10px;
        color: blue;
        margin-left: 3px;
        padding-left: 10px;
    }
    .tetra-text{
        width: 100%;
        height: 200px;
        bottom: 0;
        position: absolute;
        display: block;
        background: #fff;
    }

</style>
{% endblock %}
{% block content %}

<div class = "container-wrap2">
    <div class = "container-2">
        <div class="info">
            <div class="info-in">
                <div class="tetris">
                {% if places_cards %}
                        {% for card in places_cards %}


                <a href="/editMemory/{{ card.pk }}">
                    <div class="tetra">
                    <img src="https://static-maps.yandex.ru/v1?ll={{card.y_location}},{{ card.x_location }}&amp;lang=ru_RU&amp;size=450,450&amp;z=8&amp;pt={{card.y_location}},{{ card.x_location }},round&amp;apikey=090249bf-62af-4314-8078-d609a5c8ec65">
                        <div class="tetra-text">
                            <div class="head_tetra"><h3>{{ card.places_name }}</h3></div>

                            <div class="body_tetra">
                                <p>{{ card.about_place }}</p>
                            </div>

                            <div class="zozivaka">
                                <p>редактировать<span class="arr">&#8594;</span></p>
                            </div>


                        </div>
                    </div>
                </a>
                        {% endfor %}
                {% endif %}

        {% if not places_cards  %}
            <a class="add-place" href="/map/">Добавить воспоминание{{user_id}}</a>
        {% endif %}
               </div>
            </div>
        </div>
    </div>
</div>
<script>
	let tetraList = document.querySelectorAll('.tetra');
	let TetraBorder = document.querySelectorAll('.tetra');
	for(let i = 0; i < tetraList.length; ++i ){
		tetraList[i].addEventListener('mouseenter', function(event){
			event.target.style.border = 'solid 1px blue';
			//event.target.querySelector(".arr").style.animation = "arrow 1s";
			//setTimeout(function() {
            //     arrow.style.animation = '';
            //}, 1);
		});
		tetraList[i].addEventListener('mouseleave', function(event){
			event.target.style.border = 'solid 1px #dee';
			event.target.target.querySelector(".arr").style.animation = "none";
		});
	}

</script>
{% endblock %}